*{
    background-color: rgb(80, 113, 122);
    color: rgb(232, 221, 221);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    

}

#top{
color: green;
font-weight: 1200px;
background-color:rgb(220, 228, 231);
font-size: 20px;
}
   h2{
    font-style: italic;
    font-weight: 900;
    color: rgb(145, 178, 180);
    font-size: 32px;
}
h1{
    font-style: italic;
    font-weight: 900;
    color: rgb(145, 178, 180);
    font-size: 42px;
}
li{
    text-align: left;
}

 .link#Page{
   font-size: 32px;
   color: tan;
   font-weight: 900;
   text-align: center;}